* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}


html,
body,
#root {
  min-height: 100%;

  width: 100%;
}


body {
  font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;

  background: #f4f7fc;
}


button,
input {
  font-family: inherit;
}